annotated-types
asttokens
certifi
charset-normalizer
click
comm
contourpy
cycler
debugpy
decorator
executing
fonttools
fsspec
gitdb
GitPython
idna
imageio
ipykernel
ipython
ipython_pygments_lexers
jedi
Jinja2
jupyter_client
jupyter_core
kiwisolver
lazy_loader
MarkupSafe
matplotlib
matplotlib-inline
mpmath
nest-asyncio
packaging
pandas
parso
pexpect
platformdirs
prompt_toolkit
protobuf
psutil
ptyprocess
pure_eval
pydantic
pydantic_core
pydicom
Pygments
pyparsing
python-dateutil
pytz
PyYAML
pyzmq
scikit-image
scipy
sentry-sdk
setuptools
six
smmap
stack-data
tifffile
tornado
tqdm
traitlets
typing-inspection
tzdata
urllib3
wandb
wcwidth
opencv-python-headless
