annotated-types
asttokens
certifi
charset-normalizer
click
comm
contourpy
cycler
debugpy
decorator
executing
filelock
fonttools
fsspec
gitdb
GitPython
idna
imageio
ipykernel
ipython
ipython_pygments_lexers
jedi
Jinja2
jupyter_client
jupyter_core
kiwisolver
lazy_loader
MarkupSafe
matplotlib
matplotlib-inline
monai
mpmath
nest-asyncio
networkx
numpy
opencv-python-headless
packaging
pandas
parso
pexpect
pillow
platformdirs
prompt_toolkit
protobuf
psutil
ptyprocess
pure_eval
pydantic
pydantic_core
pydicom
Pygments
pyparsing
python-dateutil
pytz
PyYAML
pyzmq
requests
scikit-image
scipy
sentry-sdk
setuptools
six
smmap
stack-data
sympy
tifffile
tornado
tqdm
traitlets
typing-inspection
typing_extensions
tzdata
urllib3
wandb
wcwidth
